<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oplus.omes.stdsco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StdSCO">
        <activity
            android:name="com.oplus.omes.stdsco.ProbeActivity"
            android:exported="true"
            android:label="@string/title_activity_probe" />
        <activity
            android:name="com.oplus.omes.stdsco.UrlCheckActivity"
            android:exported="true"
            android:label="@string/title_activity_urlcheck" />
        <activity
            android:name="com.oplus.omes.stdsco.SafeLogActivity"
            android:exported="true"
            android:label="@string/title_activity_safelog" />

        <activity android:name="com.oplus.omes.stdsco.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>